# API Keys
OPENROUTER_API_KEY=your_openrouter_api_key_here
PINECONE_API_KEY=your_pinecone_api_key_here
HUGGINGFACE_API_KEY=your_hf_api_key_here

# Provider Selection (options define which modules to instantiate)
LLM_PROVIDER=openrouter
VECTOR_STORE_PROVIDER=pinecone
EMBEDDINGS_PROVIDER=huggingface
STT_PROVIDER=openrouter # openrouter | local_whisper
TTS_PROVIDER=edge_tts

# Models & Index configurations 
LLM_MODEL=google/gemma-3n-e4b-it:free
STT_MODEL=google/gemma-3n-e4b-it:free
EMBEDDINGS_MODEL=sentence-transformers/all-MiniLM-L6-v2
PINECONE_INDEX_NAME=helpdesk-index
